<div>
    <nav id="navbar" class="bg-gradient-to-tr from-sesame-dark-500 to-sesame-light-500">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <img class="h-8 w-8" src="../assets/golic_sesame_white.svg" alt="Sesame">
                    </div>
                    <div class="flex-shrink-0">
                        <a style="cursor: pointer" class="text-white px-2 py-4 text-lg font-medium">Sesame</a>
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                            <a style="cursor: pointer" class="text-white px-3 py-2 rounded-md text-sm font-bold">Dashboard</a>

                            <a style="cursor: pointer" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Livestream</a>

                            <a style="cursor: pointer" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Entrylist</a>

                            <a style="cursor: pointer" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Add new User</a>

                            <a style="cursor: pointer" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Settings</a>
                        </div>
                    </div>
                </div>
                <div class="hidden md:block">
                    <div class="ml-4 flex items-center md:ml-6">
                        <button class="p-1 text-white hover:text-gray-400">
              <span class="sr-only">View notifications</span>
              <!-- Heroicon name: outline/bell -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
              </svg>
            </button>
                        <p>{{username()}}</p>

                        <!-- Profile dropdown -->
                        <div class="ml-3 relative">
                            <div>
                                <button (click)="onOpenProfile()" type="button" class="max-w-xs bg-white rounded-full flex items-center text-sm" id="user-menu" aria-expanded="false" aria-haspopup="true">
                  <span class="sr-only">Open user menu</span>
                  <img class="h-8 w-8 rounded-full"
                    src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt="">
                </button>
                            </div>

                            <!--
                  Dropdown menu, show/hide based on menu state.

                  Entering: "transition ease-out duration-100"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                  Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->


                            <div id="menu" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu" style="visibility: hidden;">
                                <a style="cursor: pointer" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Your Profile</a>

                                <a style="cursor: pointer" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Settings</a>

                                <button (click)="logout()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Sign out</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="-mr-2 flex md:hidden">
                    <!-- Mobile menu button -->
                    <button (click)="onClickBurger()" type="button" class=" inline-flex items-center justify-center p-2 rounded-md text-white hover:text-gray-400" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--
                Heroicon name: outline/menu

                Menu open: "hidden", Menu closed: "block"
              -->
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <!--
                Heroicon name: outline/x

                Menu open: "block", Menu closed: "hidden"
              -->
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
                </div>
            </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="md:hidden" id="mobile-menu">
            <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a style="cursor: pointer" class="text-white block px-3 py-2 rounded-md text-base font-bold">Dashboard</a>

                <a style="cursor: pointer" class="text-gray-300 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Livestream</a>

                <a style="cursor: pointer" class="text-gray-300 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Entrylist</a>

                <a style="cursor: pointer" class="text-gray-300 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Add new User</a>

                <a style="cursor: pointer" class="text-gray-300 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Settings</a>
            </div>
            <div class="pt-4 pb-3 border-t border-blue-100">
                <div class="flex items-center px-5">
                    <div class="flex-shrink-0">
                        <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                    </div>
                    <div class="ml-3">
                        <div class="text-base font-medium leading-none text-white">{{username()}}</div>
                        <div class="text-sm font-medium leading-none text-gray-200">tom@example.com</div>
                    </div>
                    <button class="ml-auto flex-shrink-0 p-1 rounded-full text-white hover:text-gray-400">
            <span class="sr-only">View notifications</span>
            <!-- Heroicon name: outline/bell -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
          </button>
                </div>
                <div class="mt-3 px-2 space-y-1">
                    <a style="cursor: pointer" class="block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white">Your Profile</a>

                    <a style="cursor: pointer" class="block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white">Settings</a>

                    <a style="cursor: pointer" (click)="logout()" class="block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white">Sign out</a>
                </div>
            </div>
        </div>
    </nav>

    <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold text-gray-900">
                Dashboard
            </h1>
        </div>
    </header>
    <main>
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            <!-- Replace with your content -->
            <div class="px-4 py-6 sm:px-0">
                <div class="border-4 border-dashed border-gray-200 rounded-lg h-96 flex flex-wrap">
                    <div height="120%" width="100vw" class=" h-80 items-center align-middle ">
                        <iframe src="http://192.168.137.165:8081/" title="Preview from space" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="align-items: center;"></iframe>
                    </div>
                    <div class="items-center align-middle">
                        <div class="flex flex-col">
                            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                        <mat-form-field>
                                            <mat-label>Entrant</mat-label>
                                            <input matInput (keyup)="applyFilter($event)" placeholder="Entrant" #input>
                                        </mat-form-field>
                                        <table mat-table [dataSource]="dataSource" class="min-w-full divide-y divide-gray-200" style=" display: block; width: 600px; height: 300px; overflow-y: scroll;">
                                            <ng-container matColumnDef="ID">
                                                <th mat-header-cell *matHeaderCellDef> ID </th>
                                                <td mat-cell *matCellDef="let entrant"> {{entrant.id}} </td>
                                            </ng-container>
                                            <!-- Name Column -->
                                            <ng-container matColumnDef="Name">
                                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                                <td mat-cell *matCellDef="let entrant"> {{entrant.name}} </td>
                                            </ng-container>

                                            <!-- Weight Column -->
                                            <ng-container matColumnDef="Time">
                                                <th mat-header-cell *matHeaderCellDef> Time </th>
                                                <td mat-cell *matCellDef="let entrant"> {{entrant.time}} </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /End replace -->
            </div>
        </div>
    </main>
</div>