<div id="LiveWrapper">
    <div id="previewDiv" class="card">
        <div class="card-body">
            <h3 class="card-title m-b-0">Livestream-Preview</h3>
            <div id="PDiv" class="m-auto">
                <!-- <img id="lvPreview" src="../../../../assets/images/scna copy.jpg"> -->
                <iframe height="485" width="645" allowfullscreen src="http://192.168.137.221:8081/"></iframe>
            </div>
        </div>
    </div>

    <div id="ButtonWrapper">
        <a href="#" class="SButton" id="button">Open the Door</a>
    </div>
</div>
