<br><br><br><br><br><br>
<a routerLink="/live" routerLinkActive="active">
    <img src="../../assets/livestream_og_image.jpg" alt="Livestream" width="600px">></a>
<!-- Photo Grid -->
<a routerLink="/gallery" routerLinkActive="active">
    <div class="row">
        <div class="column">
            <img src="../../assets/snapshots/David-Dobrik-.jpg" style="width: 150px">
            <img src="../../assets/snapshots/50331c2d09139fc73ef22cc4035acaa7.jpg" style="width: 150px">
        </div>
        <div class="column">
            <img src="../../assets/snapshots/b6d4112acc59a02fb58868384212275e.jpg" style="width: 150px">
            <img src="../../assets/snapshots/photo-1507003211169-0a1dd7228f2d.jpg" style="width: 150px">
        </div>
        <div class="column">
            <img src="../../assets/snapshots/1.png" style="width: 150px">
            <img src="../../assets/snapshots/3.jpg" style="width: 150px">
        </div>
    </div>
</a>