@media screen and (max-width: 575.98px) { 
    #userImagesWrapper {
        width: 95vw;
    }

    #userImages{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .userImage {
        width: 20vw;
        height: auto;
        aspect-ratio: 1;
    }

    #image2, #image3, #image4, #image5 {
        margin-left: 2.5vw;
    }
}

@media screen and (max-width: 575.98px) and (orientation: landscape) { 
    #userImagesWrapper {
        width: 95vw;
    }

    #userImages{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .userImage {
        width: 20vw;
        height: auto;
        aspect-ratio: 1;
    }

    #image2, #image3, #image4, #image5 {
        margin-left: 5%;
    }
}

@media screen and (min-width: 576px) and (max-width: 991.98px) { 
    #userImages {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .userImage {
        width: 15vw;
        height: auto;
        aspect-ratio: 1;
    }

    #image2, #image3, #image4 {
        margin-left: 5vw;
    }
 }

 @media screen and (min-width: 576px) and (max-width: 991.98px) and (orientation: landscape) { 
    #userImages {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .userImage {
        width: 12.5vw;
        height: auto;
        aspect-ratio: 1;
    }

    #image2, #image3, #image4 {
        margin-left: 5vw;
    }
 }

 @media screen and (min-width:992px) and (max-width: 1199.98px) { 
    #userImages {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .userImage {
        width: 15vw;
        height: auto;
        aspect-ratio: 1;
    }

    #image2, #image3, #image4 {
        margin-left: 2.5vw;
    }
 }

@media screen and (min-width: 1200px) and (max-width:1399.98px) and (orientation: landscape) {
    #userImages {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15vh;
    }

    .userImage {
        width: 7vw;
        height: auto;
        aspect-ratio: 1;
    }

    #image2, #image3, #image4 {
        margin-left: 1vw;
    }
}

@media screen and (min-width: 1400px) {

    #userImages {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15vh;
    }

    .userImage {
        width: 7vw;
        height: auto;
        aspect-ratio: 1;
    }

    #image2, #image3, #image4 {
        margin-left: 5%;
    }
}

