<div id="entryListTable" class="card" style="border-radius: 8px;">
    <div class="card-body">
        <h4 class="card-title m-b-0">Entries</h4>
        <div id="TDiv" class="m-t-55">
            <table id="entryTable" mat-table [dataSource]="entryDataSource">
                <!-- Name Column -->
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let entrant"> {{entrant.name}} </td>
                </ng-container>

                <!-- Time Column -->
                <ng-container matColumnDef="Time">
                    <th mat-header-cell *matHeaderCellDef> Time </th>
                    <td mat-cell *matCellDef="let entrant"> {{entrant.time}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        </div>
    </div>
</div>