<body>

    <!-- Header -->
    <div class="header">
        <h1>Snapshots</h1>
    </div>

    <!-- Photo Grid -->
    <div class="row">
        <div class="column">
            <img src="../../assets/snapshots/David-Dobrik-.jpg" style="width: 300px">
            <img src="../../assets/snapshots/2018-11-06t054310z-1334124005-rc1be15a8050-rtrmadp-3-people-sexiest-man.jpg" style="width:300px">
            <img src="../../assets/snapshots/50331c2d09139fc73ef22cc4035acaa7.jpg" style="width: 300px">
        </div>
        <div class="column">
            <img src="../../assets/snapshots/b6d4112acc59a02fb58868384212275e.jpg" style="width: 300px">
            <img src="../../assets/snapshots/Nach-Auszeit-Selena-Gomez-meldet-sich-bei-Instagram-zurueck_reference_4_3.jpg" style="width:300px">
            <img src="../../assets/snapshots/photo-1507003211169-0a1dd7228f2d.jpg" style="width: 300px">
        </div>
        <div class="column">
            <img src="../../assets/snapshots/1.png" style="width: 300px">
            <img src="../../assets/snapshots/2.jpg" style="width:300px">
            <img src="../../assets/snapshots/3.jpg" style="width: 300px">
        </div>
        <div class="column">
            <img src="../../assets/snapshots/6-facial-recognition-hero.jpg" style="width: 300px">
            <img src="../../assets/snapshots/142207-phones-feature-what-is-apple-face-id-and-how-does-it-work-image1-5d72kjh6lq.jpg" style="width:300px">
            <img src="../../assets/snapshots/face-yoga-635x355.jpg" style="width: 300px">
        </div>
    </div>

</body>