<div id="trafficLightsDiv" class="card">
    <div id="trafficLightWrapper" class="card-body">
        <h3 class="card-title m-b-0" >Status</h3>
        <div id="trafficLights" class="m-auto mt-2">
            <div class="trafficStatus">
                <div id="redLight" class="trafficLight" style="background-color: #D10A11;"></div>
                <h4 id="rTxt">Closed</h4>
            </div>
            <div class="trafficStatus">
                <div id="yellowLight" class="trafficLight" style="background-color: #F6D200;"></div>
                <h4 id="yTxt">Working</h4>
            </div>
            <div class="trafficStatus">
                <div id="greenLight" class="trafficLight" style="background-color: #43C532;"></div>
                <h4 id="gTxt">Open</h4>
            </div>
        </div>
    </div>
</div>
