<div id="trafficLightsDiv" class="card">
    <div id="trafficLightWrapper" class="card-body">
        <h3 class="card-title m-b-0" style="margin-bottom: 3vh;">Status</h3>
        <div id="trafficLights" class="m-auto mt-2">
            <div class="trafficStatus">
                <div id="redLight" class="trafficLight" style="background-color: #FF6363;"></div>
                <h4>Closed</h4>
            </div>
            <div class="trafficStatus">
                <div id="yellowLight" class="trafficLight" style="background-color: #FFCB63;"></div>
                <h4 id="txt2">Working</h4>
            </div>
            <div class="trafficStatus">
                <div id="greenLight" class="trafficLight" style="background-color: #77FF63;"></div>
                <h4 id="txt3">Open</h4>
            </div>
        </div>
    </div>
</div>
