<div id="trafficLightsDiv" class="card">
    <div id="trafficLightWrapper" class="card-body">
        <h3 class="card-title m-b-0">Progress</h3>
        <div id="trafficLights" class="m-auto mt-2">
            <div id="redLight" class="trafficLight" style="background-color: #FF6363;"></div>
            <div id="yellowLight" class="trafficLight" style="background-color: #FFCB63;"></div>
            <div id="greenLight" class="trafficLight" style="background-color: #77FF63;"></div>
        </div>
    </div>
</div>
