<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!--  <div class='entry-history'>
        <div class='entry-history-main'>
          <full-calendar
            *ngIf='calendarVisible'
            [options]='calendarOptions'
          ></full-calendar>
        </div>
      
      </div>-->
    <!-- <div style="text-align:center">
        <h2>
            Entry list
        </h2>
        <ul *ngFor="let item of entryList">
            <li>
                <h3>Entrant :{{item.name}}, Time: {{item.time}}</h3>
            </li>
        </ul>
    </div>-->

    <div fxLayout="row" fxFlex="100">
        <app-menu fxLayout="column" fxFlex="300px"></app-menu>
        <div class="content" fxLayout="column" fxFlex>
            <router-outlet></router-outlet>
        </div>
       
    </div>
   
    <div height="300px">
        <button
        class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-sesame_blue-dark">Hello</button>   
        <a routerLink="/profile" routerLinkActive=" active ">
            <div class="profilepic">
                <img src="../../assets/pic/sample-profile-picture.png " width="50% " alt="profilepic " style="border-radius: 50%; float: right ">
            </div>
        </a>
    </div>

</body>

</html>