<div class="menu-component">
    <br>
    <h1>SESAME</h1>
    <br>
    <br>
    <a routerLink="/" routerLinkActive="active">
        <div class="menu-button">
            <h3>Home</h3>
        </div>
    </a>
    <br><br><br>
    <a routerLink="/gallery" routerLinkActive="active">
        <div class="menu-button">
            <h3>Gallery</h3>
        </div>
    </a>
    <br><br><br>
    <a routerLink="/live" routerLinkActive="active">
        <div class="menu-button">
            <h3>Live</h3>
        </div>
    </a>
    <br><br><br>
    <a routerLink="/settings" routerLinkActive="active">
        <div class="menu-button">
            <h3>Settings</h3>
        </div>
    </a>
    <br><br><br>
    <a routerLink="/profile" routerLinkActive="active">
        <div class="menu-button">
            <h3>Profile</h3>
        </div>
    </a>
    <br><br><br>
    <a routerLink="/list" routerLinkActive="active">
        <div class="menu-button">
            <h3>Entrylist</h3>
        </div>
    </a>
    <br><br><br>
    <a>
        <div class="menu-button">
            <h3>Logout</h3>
        </div>
    </a>

</div>