@font-face {
    font-family: 'Big John';
    src: url('../fonts/big_john-webfont.woff2') format('woff2'), url('../fonts/big_john-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Slim Joe';
    src: url('../fonts/slim_joe-webfont.woff2') format('woff2'), url('../fonts/slim_joe-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.menu-button {
    background-color: #5DADE2;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 4.4vh;
    height: 5vh;
    width: 10vw;
    cursor: pointer;
}

a {
    padding: 5px;
    margin: 5px;
    position: fixed;
    text-decoration: none;
}

.menu-spacer {
    flex: 1 1 auto;
}

h3 {
    padding-top: 10px;
}

h3,
h1 {
    font-family: "Big John";
    text-align: center;
}

h1 {
    font-size: 50px;
    color: #5DADE2;
    float: left;
    padding-left: 10px;
}