<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry History</title>
</head>
<body>
    <div class='entry-history'>
        <div class='entry-history-main'>
          <full-calendar
            *ngIf='calendarVisible'
            [options]='calendarOptions'
          ></full-calendar>
        </div>
      
      </div>
        
</body>
</html>
